@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Futura 400";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/FuturaCyrillicBook.woff2") format("woff2"), url("../../fonts/FuturaCyrillicBook.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Futura 450";
  font-style: normal;
  font-weight: 450;
  src: url("../../fonts/FuturaCyrillicMedium.woff2") format("woff2"), url("../../fonts/FuturaCyrillicMedium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Futura 600";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/FuturaCyrillicDemi.woff2") format("woff2"), url("../../fonts/FuturaCyrillicDemi.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Futura 700";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/FuturaCyrillicBold.woff2") format("woff2"), url("../../fonts/FuturaCyrillicBold.woff") format("woff");
  font-display: swap;
}
