.about {
  background-color: #b9dfff;
  line-height: 23px;
}

.about__slogan {
  font-family: "Futura 600", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #232e72;
  text-align: center;
}

.about__important {
  font-family: "Futura 600", sans-serif;
  font-size: 64px;
  line-height: 82px;
  color: #ff3131;
  // text-shadow: 0 0 0 #ffffff;
  -webkit-text-stroke: 1px #ffffff;
}

.about__text {
  margin: 0;
  margin-bottom: 190px;
  text-align: center;
}

.about__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 190px;
}
