.advantages {
  background-color: #FFFFFF;
  padding: 107px 0 30px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.advantages__title {
  margin: 0;
  color: #232E72;
  font-family: "Futura 700";
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 106px;
    height: 106px;
    background: linear-gradient(90deg, #FF3131 0%, rgba(255, 0, 0, 0) 100%);
    border-radius: 50%;
    flex-shrink: 0;
  }
}

.advantages__title-decor {
  margin-left: -40px;
}

.advantages__number {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-family: "Futura 600";
  font-weight: 600;
  font-size: 96px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
}

.advantages__text {
  margin: 0;
  text-align: center;
}
