.review {
  background-color: #ffffff;
  height: 527px;
  width: 272px;
  font-family: "Futura 400", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  padding: 17px 20px 26px;
  position: relative;
  position: relative;
}

.review__header {
  display: flex;
  justify-content: right;
  gap: 23px;
}

.review__image {
  position: absolute;
  top: 0;
  left: 0;
}

.review__title {
  margin: 0;
  font-family: "Futura 600", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  color: #232e72;
}

.review__star-wrapper {
  display: flex;
  margin-top: 20px;
}

.review__text {
  margin-top: 50px;
}

.reviews__icons {
  margin: 0 auto;
  margin-bottom: 50px;
}
