.review {
  background-color: #ffffff;
  height: 527px;
  font-family: "Futura 400";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  padding: 17px 20px 26px;
  position: relative;
  display: grid;
  grid-template-columns: 109px auto;
  grid-template-rows: auto 25px;
  column-gap: 23px;
  row-gap: 20px;
}

.reviews__image {
  position: absolute;
  top: 0;
  left: 0;
}

.review__title {
  margin: 0;
  font-family: "Futura 600";
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  color: #232E72;
  grid-column: 2 / 3;
}

.review__icons {
  grid-column: 2 / 3;
}

.review__text {
  grid-column: 1 / 3;
}

.reviews__icons {
  margin: 0 auto;
  margin-bottom: 50px;
}
