.timer {
  color: #DA010A;
  font-family: "Futura 400";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  color: rgba(190, 6, 0, 1);
  text-transform: uppercase;
  margin-bottom: 9px;
}

.timer-description {
  margin-top: 6px;
  display: flex;
  justify-content: center;
  column-gap: 32px;
}

.num {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  color: azure;
  background: #DA010A linear-gradient(180deg, #FF8280 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 5px;
  padding: 0 4px;
}

.timer-dot {
  font-size: 30px;
  vertical-align: top;
}
