.timer {
  color: #da010a;
  font-family: "Futura 400", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 9px;
}

.timer-description {
  margin-top: 6px;
  display: flex;
  justify-content: center;
  column-gap: 32px;
}

.num {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  color: #ffffff;
  border-radius: 5px;
  padding: 0 4px;
  display: block;
  background: linear-gradient(180deg, #FF8280 0%, #e4242c 50%, #BE0600 50%);
}

.timer-group {
  display: flex;
  gap: 4px;
}

.timer-dot {
  font-size: 42px;
  vertical-align: top;
}

.timer__wrapper {
  display: flex;
  justify-content: center;
  gap: 2px;
}
